@import "tailwindcss";

@theme {
  --color-azure-blue: #0067b8;
  --color-azure-hover: #005a9e;
}

:root {
  --azure-blue: #0067b8;
}

body {
  margin: 0;
  font-family: "Segoe UI", "Helvetica Neue", Arial, sans-serif;
  background-color: #f2f2f2;
}
